@import "./variables.scss";
// ==============
// 在多个元素的时候用这个写在class的样式中
// 如果只有一个元素且并没有什么样式，直接在style中写类型，参考common.css
@mixin text-ellipsis () {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 多行省略号
@mixin ellipse-more-line ($lineNum) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineNum;
    overflow: hidden;
}

// ==============
@mixin box-shadow($left, $top, $radius, $color) {
    box-shadow: $left $top $radius $color;
}

// ==============
@mixin transition($property, $duration, $easing: linear) {
    transition: $property $duration $easing;
}

// ==============
@mixin border-radius($radius: 10px) {
    border-radius: $radius;
}

@mixin rounded($vert, $horz, $radius: 10px) {
    border-#{$vert}-#{$horz}-radius: $radius;
}

// ==============
// ==================
@mixin imgRetina($image, $extension, $width, $height, $position: center, $repeat: no-repeat) {
    background: url($image + '.' + $extension) $repeat $position;
    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and ( min--moz-device-pixel-ratio: 2), screen and ( -moz-min-device-pixel-ratio: 2), screen and ( -o-min-device-pixel-ratio: 2/1), screen and ( min-device-pixel-ratio: 2), screen and ( min-resolution: 192dpi), screen and ( min-resolution: 2dppx) {
        background: url($image + '@2x' + '.' + $extension) $repeat $position;
        background-size: $width $height;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3),
    screen and ( min--moz-device-pixel-ratio: 3),
    screen and ( -moz-min-device-pixel-ratio: 3),
    screen and ( -o-min-device-pixel-ratio: 3/1),
    screen and ( min-device-pixel-ratio: 3),
    screen and ( min-resolution: 288dpi),
    screen and ( min-resolution: 3dppx) {
        background: url($image + '@3x' + '.' + $extension) $repeat $position;
        background-size: $width $height;
    }
}

// .bg-image {
//    @include imgRetina(images/waterlily, jpg, 200px, 200px, no-repeat, center);
//    height: 200px;
//    width: 200px;
// }
// ==============
@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    animation: #{$str};
}

@mixin border-1px($color: $bg-grey, $border-radius: 0) {
    position: relative;
    border: none;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $color;
        border-radius: $border-radius;
        @media screen and (min-resolution: 2dppx) {
            border-radius: ($border-radius * 2);
            width: 200%;
            height: 200%;
            transform: scale(0.5);
            transform-origin: left top;
        }
        @media screen and (min-resolution: 3dppx) {
            border-radius: ($border-radius * 3);
            width: 303%;
            height: 303%;
            transform: scale(0.33);
            transform-origin: left top;
        }
    }
}

@mixin border-top-1px($color: $bg-grey, $width: 100%) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: $width;
        left: (100% - $width)/2;
        top: 0;
        border-top: 1px solid $color;
    }
}

@mixin border-right-1px($color: $bg-grey) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        border-right: 1px solid $color;
    }
}

@mixin border-bottom-1px($color: $bg-grey, $width: 100%) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: $width;
        left: (100% - $width)/2;
        bottom: 0;
        border-bottom: 1px solid $color;
    }
}

@mixin border-left-1px($color: $bg-grey) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        border-left: 1px solid $color;
    }
}

@mixin border-none() {
    &:after {
        display: none;
    }
}


/*----------  flex  ----------*/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// =====================
@mixin gradient($color1: #0077ff, $color2: #0099ff, $deg: -90) {
    background-color: $color1;
    background-image: linear-gradient(#{$deg}deg, $color1, $color2);
}

/*----------  gradient-background  ----------*/

@mixin bg-blue() {
    @include gradient();
}
@mixin bg-blue-light() {
    @include gradient(#0080ff, #07b5ff);
}
@mixin bg-red {
    @include gradient(#f3091a, #ff512f);
}
@mixin btn-bg {
    @include gradient();
    &:disabled {
        @include bg-blue-light();
    }
}