@import "./variables.scss";
// ==============
// @function rem($size) {
//     $remSize: $size / 10px;
//     @return $remSize * 1rem;
// }

// @mixin font-size($size) {
//     font-size: $size;
//     font-size: rem($size);
// }



// 在多个元素的时候用这个写在class的样式中
// 如果只有一个元素且并没有什么样式，直接在style中写类型，参考common.css
@mixin text-ellipsis () {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 多行省略号
@mixin ellipse-more-line ($lineNum) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineNum;
    overflow: hidden;
}



// ==============
@mixin box-shadow($left, $top, $radius, $color) {
    box-shadow: $left $top $radius $color;
}

// ==============
@mixin transition($property, $duration, $easing: linear) {
    transition: $property $duration $easing;
}

// ==============
@mixin border-radius($radius: 10px) {
    border-radius: $radius;
}

@mixin rounded($vert, $horz, $radius: 10px) {
    border-#{$vert}-#{$horz}-radius: $radius;
}

// ==============


// ==================
@mixin imgRetina($image, $extension, $width, $height, $position: center, $repeat: no-repeat) {
    background: url($image + '.' + $extension) $repeat $position;
    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and ( min--moz-device-pixel-ratio: 2), screen and ( -moz-min-device-pixel-ratio: 2), screen and ( -o-min-device-pixel-ratio: 2/1), screen and ( min-device-pixel-ratio: 2), screen and ( min-resolution: 192dpi), screen and ( min-resolution: 2dppx) {
        background: url($image + '@2x' + '.' + $extension) $repeat $position;
        background-size: $width $height;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3),
    screen and ( min--moz-device-pixel-ratio: 3),
    screen and ( -moz-min-device-pixel-ratio: 3),
    screen and ( -o-min-device-pixel-ratio: 3/1),
    screen and ( min-device-pixel-ratio: 3),
    screen and ( min-resolution: 288dpi),
    screen and ( min-resolution: 3dppx) {
        background: url($image + '@3x' + '.' + $extension) $repeat $position;
        background-size: $width $height;
    }
}

// .bg-image {
//    @include imgRetina(images/waterlily, jpg, 200px, 200px, no-repeat, center);
//    height: 200px;
//    width: 200px;
// }
// ==============
@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    animation: #{$str};
}

// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }
// .element {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include animation('slide-down 5s 3');
// }
// =====================
@mixin border-1px($color: #f2f2f2) {
    border: 1px solid $color;
}
@mixin border-top-1px($color: #f2f2f2) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        border-top: 1px solid $color;
    }
}

@mixin border-right-1px($color: #f2f2f2) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        border-right: 1px solid $color;
    }
}

@mixin border-bottom-1px($color: #f2f2f2) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid $color;
    }
}

@mixin border-left-1px($color: #f2f2f2) {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        border-left: 1px solid $color;
    }
}

@mixin border-none() {
    &:after {
        display: none;
    }
}

// =====================
@mixin gradient($color1, $color2) {
    background-color: $color1;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
    background-image: linear-gradient(to left top, $color1, $color2);
}



/*----------  flex  ----------*/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin text-image() {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
        -45deg,
        #1d75f2 0%,
        #0f6ef9 0%,
        #0066ff 0%,
        #0073ff 0%,
        #0080ff 0%,
        #009aff 50%,
        #04a7ff 73%,
        #07b5ff 100%
    );
}
@mixin background-image() {
    background-image: linear-gradient(
        -45deg,
        #1d75f2 0%,
        #0f6ef9 0%,
        #0066ff 0%,
        #0073ff 0%,
        #0080ff 0%,
        #009aff 50%,
        #04a7ff 73%,
        #07b5ff 100%
    );
}
