$blue: #0088ff;
$blue-light: #0099ff; 
$blue-dark: #0077ff;

$red: #f5303d;
$red-dark: #f3091a;

$yellow: #ffbb00;

$grey: #808080;
$grey-dark: #4d4d4d; 
$grey-light: #b3b3b3;

$bg-grey: #f2f2f2;
$bg-grey-dark: #e6e6e6;
$bg-body: #f3f7f9;